<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/inpatient-records">InPatient Records</a>
        <a href="/trainers">Trainer Directory</a>
        <a href="/pokemon">Pokemon Directory</a>
        <a href="/pokecenter">PokeCenter Directory</a>
        <a href="/employees">Employee Directory</a>
    </nav>

    {{{body}}}

</body>
</html>