{{!some Code taken from exploration}}
<h1>Home page</h1>
<div class="homepageDescription">
    <p>Welcome to the inpatient PokeCenter tracker!</p>
    <p>Please navigate to InPatient Records for CRUD operations</p>
</div>