/* Style from Exploration with modifications*/
/* Code taken/ adapted from exploration Web Application Technology
source: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
Accessed 2/23/26
Author Dr. Curry*/

h1, h2, h3 { 
    margin-left: 16px;
}

table {
    border-collapse: collapse;
    margin-left: 32px;
}

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    background-color: red; 
    padding: 16px; 
    display: flex; 
    justify-content: center;
}

nav a { color: white; 
    text-decoration: none; 
}

a {
    margin-left: 16px;
}

button { 
    margin-left: 16px;
}

.homepageDescription {
    margin-left: 32px;
}

footer {border: 1px solid black;
        padding: 5px;
        font-size: .8em;
        }
footer p {padding: 1px;
         margin: 1px;}